@page "/"



<h1>BPC-OOP Odevzdávarna</h1>
<p>Constantly updated (obviously)</p>


@code {
    /*[CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

            async Task LogUsername()
            {
                var authState = await authenticationStateTask;
                var user = authState.User;
                if (user.Identity.IsAuthenticated)
                {
                    // Since the user is a ClaimsPrincipal, you can also enumerate claims,
                    // evaluate membership in roles, etc.
                    Console.WriteLine($"Hello, {user.Identity.Name}");
                }
                else
                {
                    Console.WriteLine("You're not logged in.");
                }
            }*/
    }
