@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <form action="https://github.com/xsecka04/OOPGitLabs" target="_blank" class="ml-md-auto">
                <button type="submit" class="btn btn-outline-secondary">Repository</button>
            </form>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
